@model List<DataAccessLayer.Models.ServiceProviderList>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ServiceProvider</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>
                SP ID
            </td>
            <td>
                SP Name
            </td>
            <td>
                Rating
            </td>
        </tr>
        @foreach (var i in Model)
        {
            <tr>
                <td>
                    @i.ServiceProviderId
                </td>
                <td>
                    @i.ServiceProviderName
                </td>
                <td>
                    @i.rating
                </td>
                <td>
                    @Html.TextAreaFor(m=>i.scheduledDate)
                </td>
                <td>
                    <input type="submit" value="Place Order" />
                    <input type="hidden" value="@i.ServiceProviderId" />
                </td>
            </tr>
        }
    </table>
</body>
</html>
