@model DataAccessLayer.Models.SPRegisterClass
@{
    ViewBag.Title = "ServiceProvider";
}

<div class="Register">
    <h2>Registeration for Service Provider</h2>

    @using (Html.BeginForm("ServiceProvider", "Register", FormMethod.Post,new { @class = "auth" }))
    {

        <span>UserName:</span>@Html.TextBoxFor(g => g.Username);<br />
        <span>Password:</span>@Html.PasswordFor(g => g.Password);<br />
        <span>ConfirmPassword:</span>@Html.PasswordFor(g => g.ConfirmPassword);<br />

        <span>EmailId:</span>@Html.TextBoxFor(g => g.Emailid);<br />

        <span>ContactNumber:</span>@Html.TextBoxFor(g => g.Contact);<br />

        <span>Service:</span>@Html.DropDownListFor(g => g.Service, new SelectList(Model.ServiceList));<br />
        <span>Charge:</span>@Html.TextBoxFor(g => g.Charge);<br />

        <span>BankName:</span>@Html.TextBoxFor(g => g.BankName);<br />

        <span>BankAccount Number:</span>@Html.TextBoxFor(g => g.BankAccNumber);<br />


        <div>
            <input type="submit" value="Register" />
        </div>
        @Html.ValidationSummary()
    }


</div>
