@model DataAccessLayer.Models.PaymentModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Payment</title>
</head>
<body>
    <h2>@Model.FromBankName</h2>
    <span>Your Account No:</span><h5>@Model.FromAccountNo</h5>
    <span>To: </span><h5>@Model.ToAccountNo</h5>
    <span>Amount: </span><h4>@Model.Amount</h4>
    @using (Html.BeginForm("Pay", "Payment", FormMethod.Post))
    {
        <span>Enter Your Password</span><br />
        @Html.HiddenFor(g => g.OrderId)
        @Html.HiddenFor(g => g.Username)
        @Html.HiddenFor(g => g.Amount)
        @Html.HiddenFor(g => g.ToAccountNo)
        @Html.HiddenFor(g => g.FromAccountNo)
        @Html.PasswordFor(g => g.Password)
        <input type="submit" value="Pay" />
    }
</body>
</html>
